body {
  background-image: url('http://makeitstranger.com/images/bg.jpg');
}

#quote-box {
	text-align: center;

	padding: 30px;
	margin: 100px;
}

.get-new-quote {
	text-align: center;
	color: red;
	position: static;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 20px;
}

.btn-outline-secondary {
	color: red;
	border-color: red;
}


p {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 26px;
	color: #FFFFFF;
}

.bg-light {
	background-color: #000000!important;
}



@media screen and (max-width: 768px) {

	#logo {
	width: 100%;
	align-content: center;
	}
	
	p {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 18px;
	color: #FFFFFF;
	}

	#quote-box {
	text-align: center;
	padding: 10px;
	margin: 50px;
}

}